.Dashboard-headers {
  background-color:  #f3e8ff;
  width: 350px;
  min-height: 600px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 40px 20px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  
}

.profile-pic-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  bottom: 5px;
  right: 8px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.profile-name {
  font-weight: 600;
  margin: 0;
  color: #000;
}

.profile-email {
  color: #666;
  margin: 0;
  font-size: 14px;
}
.line{
  border-bottom: 3px dashed #ccc;
  width: 100%;
  margin: 20px 0;
}