.Dashboard-headers {
  width: 350px;
  min-height: 600px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0;
  overflow: hidden;
}

.profile-title {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.Dashboard-head1 {
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.profile-section {
  background-color: #f3e8ff;
  width: 100%;
  flex: 1; 
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.profile-pic-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.profile-image {
  width: 90px;
  height: 90px;
  border-radius: 90%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  bottom: 15px;
  right: 8px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  margin-top: -60px;
}

.profile-name {
  font-weight: 700;
  margin: 0;
  color: #000;
}

.profile-email {
  color: #000;
  margin: 0;
  font-weight: 100;
}

.Dashboard-para {
  margin-top: -20px;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

.line {
  border-bottom: 3px dashed #ccc;
  width: calc(100% + 40px);
  margin: 20px -20px;
}
